<h3> Store Statistics</h3>

<table class="table table-bordered"> 
  <tr>
    <td>Products in database</td>
    <td> <%= @products.count %> </td>
  </tr>

  <tr>
    <td> Categories in database </td>
    <td> <%= @category.count %> </td>
  </tr>

</table>
